.decks-container {
  display: inline-block;
}

.deck {
  display: inline-block;
  width : 250px;
  background: #f5f5f5;
  @include border-radius(3px);
  padding : 6px;
  font-weight : bold;
  margin-right : 8px;
  vertical-align: top;

  p {
    color : Gray;
    margin-bottom: 7px;
  }
  
  .new-card {
    width : 100%;
    vertical-align: top;
    display: inline-block;
    background: #f5f5f5;
    text-align: left;
    @include border-radius(4px);
    
    &:hover {
      background : gainsBoro;
    }
  } // .new-card

  .item {
    @include border-radius(2px);
    background : white;
    margin-bottom : 6px;
    padding : 6px;
    color : Gray;
    font-weight : normal;
    font-size : 0.9em;
  
    .glyphicon {
      float : right;
      font-size : 0.83em;
      padding-top : 3px;

      &:hover {
        opacity: 0.8;
        cursor : pointer;
      }
    } // .glyphicon

    input {
      font-size : 0.86;
      padding : 3px 6px;
    }
  } // .item 

  .deck-name-input {
    margin-bottom : 6px; 
    font-size : 0.85em;
    padding : 2px 5px;
    color : Gray;
  }

} // .deck

.add-deck {
  padding : 5px;
  vertical-align: top;

  input {
    width : 100%;
    @include border-radius(4px);
    @include input-shadow (3px, 5px);
    margin-bottom: 4px;
    font-size : 0.87em;
    padding : 4px 8px;
    color : Gray;
  }

  .controls {
    position : relative;

    .glyphicon-remove {
      position : absolute;
      top : 5px;
      color : DarkGray;
      font-size : 1.14em;
      margin-left : 10px;

      &:hover {
        cursor : pointer;
        opacity: 0.8;
      }
    }

    .btn-sm {
      padding : 3px 12px;
    }  
  }
} // .add-deckq

.new-deck {
  vertical-align: top;
  display: inline-block;
  background: #f5f5f5;
  width : 250px;
  text-align: left;
  @include border-radius(4px);

  &:hover {
    background : gainsBoro;
  }
} // .new-deck

