.tasks-container {
  width : 340px;
  margin : 0 auto;
  margin-top : 100px;

  .tasks-list {
    margin-top: 6px;

    .task-item {
      background: white;
      padding : 6px 8px;
      margin-bottom: 6px;
      @include border-radius(3px);

      p { 
        font-size : 0.9em;
        color : Gray;
        display: inline-block;
        margin-left: 10px;

        &.completed {
          text-decoration : line-through;
        }
      }

      span.controls {
        float : right;
        margin-left : 6px;
        font-size : 0.8em;
        padding-top: 4px;

        &:hover {
          opacity: 0.8;
          cursor : pointer;
        }
      }

      form {
        display: inline-block;
      }

      input {
        margin-left : 8px;
        padding-left : 4px; 
        color : Gray;
        font-size : 0.9em;
        margin-top : -2px;
      }

    } // .task-item

  } // .tasks-list

}